<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cupbread.miss">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Yp5mSSpy1rX0tx8ZqTvfE3OON2wKZiQ1" />
    </application>
</manifest>
